@model IEnumerable<PermissionSystemMVC.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2>Requests</h2>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </div>
</div>
<br />

@if (Model == null)
{
    <span> NO Data !</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole(RolesName.Manager))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedById)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.PrmisssionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePrmission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole(RolesName.Manager))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.PrmisssionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePrmission)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromTime)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToTime)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @if (User.IsInRole(RolesName.Manager) && string.Equals(item.Status, Request.PrmisssionStatusEnum.New))
                        {
                            <a class="btn btn-success" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                            <a class="btn btn-danger" asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Status)
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
}