@model IEnumerable<PermissionSystemMVC.Models.Department>

@{
    ViewData["Title"] = "Manage Departments";
}

<h2>Manage Departments</h2>

<br />

<form asp-action="CreateDepartment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="Name">Department name</label>
            <input value="" class="form-control" type="text" id="Name" name="Name">

        </div>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

<br />


@if (Model == null)
{

    <div class="alert alert-primary" role="alert">
        <span> No Departments Added ! </span>
    </div>
}
else
{

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditDepartment" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteDepartment" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}