@model IEnumerable<PermissionSystemMVC.Models.ViewModels.UserListViewModel>

@{
    ViewData["Title"] = "Users";
}
<h1>Managment Users Page</h1>
<p>
    <a asp-action="CreateUsers">Create New User</a>
</p>

@if (Model == null)
{
    <span> NO Data !</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
             {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)

                    </td>
                </tr>
             }
        </tbody>
    </table>

}
